<?xml version="1.0"?>

<launch>

  <!-- Sensor 0 Cam -->
  <include file="$(find vision_collision_detector)/launch/collision_detection_android.launch">
    <arg name="sensor_id" value="cam_0" />
    <arg name="sensor_number" value="0" />
  </include>

  <!-- Sensor 2-->
  <include file="$(find microphone_monitoring)/launch/collision_detection.launch">
    <arg name="sensor_id" value="mic_1"/>
    <arg name="sensor_number" value="1"/>
  </include>

  <!-- Sensor 6-->
  <include file="$(find imu_ros)/launch/collision_detection_android.launch">
    <arg name="sensor_id" value="imu_1"/>
    <arg name="sensor_number" value="2"/>
  </include>

</launch>
